html {
    font-size: 12px;
}

body {
    background-color: #ffffff;
    color: #111;
    padding-left: 5em;
}

h4 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 1.8rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

h2::before {
  content:'';
  float: left;
  width: 1em;
  height: 1em;
  z-index: -1;
  background-color:  #db143b;
}

h3::before {
  content:'';
  float: left;
  width: .5em;
  height: 1em;
  z-index: -1;
  background-color:  #db143b;
}

h4::before {
  content:'';
  float: left;
  width: .25em;
  height: 1em;
  z-index: -1;
  background-color:  #db143b;
}


.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navbar li {
    display: inline-block;
    margin: 5px;
}

table {
    font-size: 1.4rem;
    width: 100%;
}
