---
layout: post
title:  "Introductory lecture on verification of quantum computations"
tag:    Talk
---
This [lecture](/assets/20230704.ucl.pdf) was given at UCL Advanced Summer School on Quantum Technologies July 4-5, 2023.

It introduces the basis ingredients of verified computations. It is framed using measurement based quantum computing as a convenient model to obtain blindness and design verification schemes. Comments and questions welcome. The last slides include a list of references.

